<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>サンプル</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="css/lib/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/index.css" />
	<script src="/js/main.js"></script>
</head>
<header>
	
</header>

<body>
	<div>
		<p class="title">タイトル</p>
		<ul id="link">
			<li><a href="keyword.html">キーワード</a></li>
			<li><a href="here.html">現在地</a></li>
		</ul>
	</div>
	
</body>

</html>