{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>サンプル</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/base.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="{% static 'js/base.js' %}"></script>
</head>
<header>
    <nav class="teal darken-2">
        <div class="nav-wrapper container teal darken-2">
            <a href="#" class="brand-logo">サンプルブログ</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/sample/">サンプルブログ</a></li>
                <li><a href="/sample_admin/">サンプルブログ管理</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="slide-out">
        <li><a href="/sample/">サンプルブログ</a></li>
        <li><a href="/sample_admin/">サンプルブログ管理</a></li>
    </ul>
</header>

<body>
    <div class="container">
        {% block container %}
        {% endblock %}
    </div>
</body>

<footer class="page-footer indigo darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Django sample</h5>
                <p class="grey-text text-lighten-4">
                    This is sample site.<br>
                    It may be strange because of the site I created for the first time by Django.<br>
                    I hope it will be helpful for other troubled people.<br>
                </p>
            </div>
            <div class="col l6 s12">
                <h5 class="white-text">Django サンプル</h5>
                <p class="grey-text text-lighten-4">
                    これはサンプルサイトです。<br>
                    初めてDJnagoで作ったため、変なところがあるかもしれないです。<br>
                    他に困っている人の手助けになればと願っています。<br>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            git hub : <a href="https://github.com/takakc/kankan-django.git" target="_blank">https://github.com/takakc/kankan-django.git</a><br>
            Made by kan
        </div>
    </div>
</footer>
</html>